<footer class="site-footer">
    
    <div class="footer-content">
        
        <div class="footer-brand">
            <span class="footer-logo">SAI SAMAN INFRA</span>
            <address class="footer-address">
                Plot No. 45, Financial District<br>
                Gachibowli, Hyderabad<br>
                Telangana, 500032<br><br>
                +91 90004 46586<br>
                saisamaninfra@gmail.com
            </address>
        </div>

        <div class="footer-nav">
            
            <div class="footer-col">
                <h4>Company</h4>
                <a href="/">Home</a>
                <a href="/about">About Us</a>
                <a href="/careers">Careers</a>
            </div>

            <div class="footer-col">
                <h4>Projects</h4>
                <a href="/projects">Ongoing</a>
                <a href="/projects#completed">Completed</a>
            </div>

            <div class="footer-col">
                <h4>Social</h4>
                <a href="#">Instagram</a>
                <a href="#">LinkedIn</a>
                <a href="#">Twitter</a>
            </div>

        </div>
    </div>

    <div class="footer-bottom">
        <span>&copy; 2025 Sai Saman Infra. All Rights Reserved.</span>
        <span>Designed with Precision.</span>
    </div>

</footer>
